::selection {
    color: white !important;
    background: rgba(0, 100, 200, 0.5) !important;
}

:root {
    overflow: hidden;
    scrollbar-color: #404040 #dedede;
    scrollbar-width: thin;
}

body {
    width: 360px;
    height: auto;
}

header {
    background-color: #38383d;
    color: #fff;
    padding: 20px;
    font-size: .8rem;
}

main {
    background-color: #4a4a4f;
    color: #f9f9fa;
    padding: 20px;
}

main>div+div {
    margin-top: 20px;
}

#info {
    display: grid;
    grid-template-columns: 5fr 2fr;
}

#shortcutInfo {
    font-size: 0.85em;
    align-self: center;
}

#copied {
    height: 32px;
    border-radius: 4px;
    display: block;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0s;
    color: #0c0c0d;
    background-color: #ededf0;
    font-size: .9rem;
    text-align: center;
    align-self: center;
    line-height: 32px;
}

#menu {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    row-gap: 12px;
}

#copied.fadeout {
    opacity: 0;
    transition: 0.5s;
}

#copy-textarea {
    width: 100%;
    height: 80px;
}

#qrcode {
    width: 160px;
    height: 160px;
    padding: 16px;
    background-color: white;
    border-radius: 4px;
}
